#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.btn-loadout {
  max-width: 90vw;
  width: 400px;
  height: 180px;
}

.container-loadout {
  display: flex;
  flex-direction: column;
}

.wrapper-loadout {
  display: flex;
  flex-direction: column;
}

.wrapper-point {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1em 0;
}

.icon-large {
  font-size: 7rem;
  padding: 1rem 0;
}

.icon-point {
  width: 4rem;
  height: 0.75rem;
  background: gray;
}

.point-active {
  background: rgb(153, 153, 69);
}

@media (min-width: 1200px) {
  .container-loadout {
    position: absolute;
    left: 2rem;
    top: 4rem;
  }

}